/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

.img-class{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.twitter-logo{
  display: flex;
  justify-content: center;
}

li{
  display: inline;
  float: left;
  font-weight: 600;
  padding: 9px;
}

li a {
  padding: 4px;
  display: block;
  color: #67757f;
  text-align: center;
  text-decoration: none;
}

/* hovering on a navbar item */
li a:hover:not(.active) {
  color: #20acf0;
  border-bottom: solid;

}

/* if you've clicked on a navbar item*/
.active {
  color:#20acf0;
  border-bottom: solid;
}

.header{
  height: 46px; 
  top: 0; 
  right: 0; 
  left:0; 
  z-index: 100;
  position: fixed; 
  background: hsl(0, 0%, 100%);
}


.maincontent{
  display: flex;
  width: 90%;
  justify-content: space-between; 

  max-width: 1190px;
  margin: 56px auto;
}

.profile{
 background-color: aqua;
 display: flex;
 flex-direction: column;
 width: 290px;
}

.cover-picture{
  background-color: black;
  z-index: 1;
  flex-grow: 1;
  padding: 20px 20px 20px 20px;
}

.cover-picture img {
  display: block;
  width: 70%;
  margin: auto;
}

.profile-picture{
  background-color: white;
  z-index: 1;
  flex-grow: 1;
  padding: 0px 20px 0px 20px;

  display: flex;
}

.profile-picture img{
  position:relative;
  bottom:15px;
  z-index: 3;
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid white;
  
}

.profile-picture-text{
  padding-top: 10px;
  padding-left: 10px;
}

.profile-picture-text p{
  margin: 0px;
}


.profile-stats{
  background-color: white;
  z-index: 2;
  flex-grow: 1;
  padding: 0px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.profile-stats-boxes{
  font-weight: bold;
}


.tweet{
  background-color: pink;
  display: flex;
  flex-direction: column;

}


.tweet-post{
  background-color: rgb(190, 190, 36);
  /* width: 80%; */
  padding-top: 10px;
  padding-left: 10px;
}

.tweet img{
  position:relative;
  /* bottom:15px; */
  width: 50px;
  height: 50px;

}




.who-to-follow{
  background-color: red;
 }



button{
  background-color: white;
  border-color: rgb(62, 194, 255);
  border-width: 3px;
  border: solid;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  color: rgb(62, 194, 255);
  font-weight: bold;
  font-size: 15px;
  margin-left: 25%;
}


/* TODO: Create CSS for your Twitter Mockup */
