/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

.img-class{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header{
  display: flex;
  height: 46px; 
  background-color: white;
  top: 0; 
	right: 0; 
	left:0; 
  position: fixed; 
  z-index: 100;
  justify-content: space-between;
  font-size: 10;
}

.nav-bar{
  align-items: left;
  margin-top: 3px;
  margin-left: 20px;
  width: 45%;
  display: inline-block;
  text-justify: auto;

}
.twitter-logo{
  align-items: center;
  vertical-align: middle;
  width: 33%;
  padding-top: .7%;

}
.tweet-button{
  border-color: white; 
  font-weight: 600;
  border-width: 50px; 
  border:solid;
  border-radius: 20px;
  margin:6px 20px 6px 40px;
  text-align: center;
  padding: 4px;
  background-color: #20acf0;
  color: white;
  width: 8%;
  max-width:150px;
}

li{
  display: inline;
  padding: 10px;
  margin-right: 15px;
  float: left;
	font-weight: 600;
	color: #67757f;
}

li a {
	display: block;
	color: #67757f;
	text-align: center;
	text-decoration: none;
  }

  /* hovering on a navbar item */
li a:hover:not(.active) {
  color: #20acf0;
  height: 32px;
  border-bottom: solid;
  
  }

/* if you've clicked on a navbar item*/
.active {
color:#20acf0;
border-bottom: solid;
}

.maincontent{
  display: flex;
  justify-content: space-evenly;
  max-width: 1190px;
  margin: 56px auto;
}

.profile{
 background-color: aqua;
 display: flex;
 flex-direction: column;
 width: 290px;
}

.cover-picture{
  background-color: black;
  z-index: 1;
  flex-grow: 1;
  padding: 20px 20px 20px 20px;
}

.cover-picture img {
  display: block;
  width: 70%;
  margin: auto;
}

.profile-picture{
  background-color: white;
  z-index: 1;
  flex-grow: 1;
  padding: 0px 20px 0px 20px;

  display: flex;
}

.profile-picture img{
  position:relative;
  bottom:15px;
  z-index: 3;
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid white;
  
}

.profile-picture-text{
  padding-top: 10px;
  padding-left: 10px;
}

.profile-picture-text p{
  margin: 0px;
}

.profile-stats{
  background-color: white;
  z-index: 2;
  flex-grow: 1;
  padding: 0px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.profile-stats-boxes{
  font-weight: bold;
  
}

.tweet{
  width: 560px;
  background-color: white;
}

.who-to-follow-div{
 background-color: white;
 width:290px;
 padding: 0px;
 display:flex;
}
.who-to-follow-label{
  font-size: 20;
  background-color: white;
  height: 60px;
}
.follow-rec{
  padding-top: 5px;
  display:flex;
  align-items: top;
  border-bottom: solid #e8ecf0;
  height:70px;
  width: 290px;
  background-color: white;
  font-size: 15px;
}

.follow-rec-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  min-height: 51px;
}

.follow-button-container{
  flex-direction: row;
  margin-left: -100px;
}

.follow-button{
  border-radius: 20px;
  margin-top: 30px;
  text-align: center;
  padding: 4px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  color: #20acf0;
  border-color: #20acf0;
  border: solid;

}
.tab{
  padding-left: 15px;
}
.account-at{
  padding-left:7px;
  color: gray;
}


.tweets{
  background-color: rgb(190, 190, 36);
  width: 50%;
  flex-direction: column;
}

button{
  background-color: white;
  border-color: rgb(62, 194, 255);
  border-width: 3px;
  border: solid;
  border-radius: 15px;
  padding: 5px 20px 5px 20px;
  color: rgb(62, 194, 255);
  font-weight: bold;
  font-size: 15px;
  margin-left: 25%;
}

/* Small Window Size Formatting */
@media screen and (max-width:  1200px) {
  .who-to-follow-div  { display: none; }

}
@media screen and (max-width: 960px) {
  .hide-list-item1{ display: none; }
}

@media screen and (max-width: 713px) {
  .hide-list-item2{ display: none; }
}


/* TODO: Create CSS for your Twitter Mockup */
